@use '../helpers' as *;

.footer{
  background-color: var(--color-background-header-footer);

  &__body{
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr;
    padding-block: fluid(60, 22);
    box-shadow: var(--color-header-footer-shadow);
    align-items: start;
    column-gap: fluid(148, 0);

    @include mobile{
      grid-template-columns: 1fr;
    }

    &-map{
      width: 100%;
      height: rem(250);
      background-color: #333;
      -moz-border-radius: 14px 14px 14px 14px; /* Firefox */
      -webkit-border-radius: 14px 14px 14px 14px; /* Safari, Chrome */
      -khtml-border-radius: 14px 14px 14px 14px; /* KHTML */
      border-radius: 14px 14px 14px 14px; /* CSS3 */

      overflow: hidden;

      position: relative;
      @include mobile{
        display: none;
      }


    }

    &-soc1als{
      h4{
        font-family: var(--font-family-base);
        letter-spacing: rem(1);
        font-size: rem(18);
      }
      @include mobile{
        h4{
          display: none;
        }
      }
      .soc1als_list {
        display: flex;
        column-gap: rem(14);
        margin-top: rem(27);

        .soc1als_item:not(:last-child) {
          margin-right: rem(3);
        }
        .soc1als_item:last-child{
          margin-top: rem(2);
        }

      }
      .contact{
        h5{
          margin-bottom: 0;
        }
        .number{
          font-family: var(--font-family-base);
          font-size: rem(25);
        }
      }

    }
  }

}
