@use '../helpers' as *;

.footer{
  background-color: var(--color-background-header-footer);

  &__body{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    padding-block: fluid(60, 22);
    box-shadow: var(--color-header-footer-shadow);
    align-items: start;
    column-gap: fluid(148, 0);

    @include mobile{
      grid-template-columns: 1fr;
    }


  }

}
