@use '../helpers' as *;

.info-block{
  margin-top: rem(130);
  margin-bottom: rem(190);
  display: grid;
  grid-template-columns: 2fr 1fr;

  .gradient{
    background: var(--color-accent-text);
    -webkit-background-clip: text; // Для Safari/Chrome
    background-clip: text;
    color: transparent; // чтобы был виден градиент
    display: inline; // Важно для корректного отображения
  }

  h1{
    margin: rem(30) 0;
    padding: 0;
  }

  p{
    margin-bottom: rem(30);
    font-family: var(--font-family-info);
    font-size: rem(20);

    @include mobile{
      display: none;
    }
  }

  .photo-block {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    [class^="photo"] {
      position: absolute;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Лёгкая тень для лучшего перекрытия */

      img {
        margin-bottom: 5px;
        border-radius: rem(10);
      }

      p {
        color: white;
        text-align: center;
        margin: 0;
        font-size: rem(20);
      }
    }

    /* Центральная — "Развлечения" */
    .photo1 {
      transform: rotate(-6deg);
      z-index: 2; /* Теперь ниже боковых */
      background-color: #8B39E9;
      border-radius: rem(10);
    }

    /* Сверху слева — "Выставки" */
    .photo2 {
      top: 10%;
      left: 15%;
      transform: translate(-50%, -50%) rotate(3deg);
      z-index: 3;
      background-color: #14587e;
      border-radius: rem(10);
    }

    /* Сверху справа — "Экскурсии" */
    .photo3 {
      top: 10%;
      right: 15%;
      transform: translate(50%, -50%) rotate(-6deg);
      z-index: 3;
      background-color: #C15151;
      border-radius: rem(10);
    }

    /* Снизу слева — "Внезапное поздравление" (было "Выездные поздравления") */
    .photo4 {
      bottom: 10%;
      left: 18%;
      transform: translate(-50%, 50%) rotate(-12deg);
      z-index: 3;
      background-color: #197900;
      border-radius: rem(10);
    }

    /* Снизу справа — "Новый год" */
    .photo5 {
      bottom: 10%;
      right: 15%;
      transform: translate(50%, 50%) rotate(6deg);
      z-index: 3;
      background-color: #005AA4;
      border-radius: rem(10);
    }
  }

}

