@use '../helpers' as *;

.events{
  .gradient{
    background: var(--color-accent-text);
    -webkit-background-clip: text; // Для Safari/Chrome
    background-clip: text;
    color: transparent; // чтобы был виден градиент
    display: inline; // Важно для корректного отображения
  }

  .h1{
    margin: rem(15) 0;
    padding: 0;

    @include laptop {
      font-size: rem(45);
    }

    @include mobile{
      font-size: rem(25);
      margin-top: rem(-50);
    }
  }

  p{
    margin-bottom: rem(30);
    font-family: var(--font-family-info);
    font-size: rem(20);

  }

  .prew{
    @include mobile{
      display: none;
    }
  }

  .info-block{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: rem(730);
    width: rem(1800);
    padding-top: rem(100);
    padding-right: rem(50);
    padding-left: rem(50);
    margin-top: rem(30);
    margin-bottom: rem(50);
    border-radius: rem(50);
    background: #151A32;

    @include laptop{
      width: rem(1350);
      height: rem(700);
      margin-top: rem(50);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      width: rem(350);
      height: rem(500);
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: rem(30);
      margin-bottom: rem(250);
      padding-right: rem(20);
      padding-left: rem(20);
    }

    .photo-block {
      position: relative;
      width: 100%;
      height: rem(500);
      display: flex;
      justify-content: center;
      align-items: center;

      @include laptop{
        margin-top: rem(100);
        height: rem(300);
      }

      @include mobile{
        width: rem(150);
        height: rem(250);
      }

      [class^="photo"] {
        position: absolute;
        padding: rem(10);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        img {
          margin-bottom: rem(5);
          border-radius: rem(10);
        }

        p {
          color: white;
          text-align: center;
          margin: 0;
          font-size: rem(20);
        }

        @include mobile {
          padding: rem(5);
          width: rem(120);

          img {
            width: rem(100);
            height: auto;
          }

          p {
            font-size: rem(25);
          }
        }
      }

      /* Центральная — "Развлечения" */
      .photo1 {
        transform: rotate(-6deg);
        z-index: 2;
        background-color: #8B39E9;
        border-radius: rem(10);

        @include mobile {
          transform: rotate(-6deg) scale(0.5);
        }
      }

      /* Сверху слева — "Выставки" */
      .photo2 {
        top: 10%;
        left: 15%;
        transform: translate(-50%, -50%) rotate(3deg);
        z-index: 3;
        background-color: #14587e;
        border-radius: rem(10);

        @include mobile {
          top: 5%;
          left: 15%;
          transform: translate(-50%, -50%) rotate(3deg) scale(0.5);
        }
      }

      /* Сверху справа — "Экскурсии" */
      .photo3 {
        top: 10%;
        right: 18%;
        transform: translate(50%, -50%) rotate(-6deg);
        z-index: 1;
        background-color: #C15151;
        border-radius: rem(10);

        @include mobile {
          top: 5%;
          right: 18%;
          transform: translate(50%, -50%) rotate(-6deg) scale(0.5);
        }
      }

      /* Снизу слева — "Внезапное поздравление" */
      .photo4 {
        bottom: 10%;
        left: 20%;
        transform: translate(-50%, 50%) rotate(-12deg);
        z-index: 1;
        background-color: #197900;
        border-radius: rem(10);

        @include mobile {
          bottom: 5%;
          left: 20%;
          transform: translate(-50%, 50%) rotate(-12deg) scale(0.5);
        }
      }

      /* Снизу справа — "Новый год" */
      .photo5 {
        bottom: 10%;
        right: 15%;
        transform: translate(50%, 50%) rotate(6deg);
        z-index: 3;
        background-color: #005AA4;
        border-radius: rem(10);

        @include mobile {
          bottom: 5%;
          right: 15%;
          transform: translate(50%, 50%) rotate(6deg) scale(0.5);
        }
      }

      @include laptop{
        height: rem(300);

        [class^="photo"] {
          padding: rem(10);
          width: rem(250);
          height: rem(320);
          img {
            width: rem(340);
            height: auto;
          }

          p {
            font-size: rem(23);
          }
        }

        // Центральная — "Развлечения"
        .photo1 {
          transform: rotate(-6deg) scale(0.7);
        }

        // Сверху слева — "Выставки"
        .photo2 {
          top: 3%;
          left: 15%;
          transform: translate(-50%, -50%) rotate(3deg) scale(0.7);
        }

        // Сверху справа — "Экскурсии"
        .photo3 {
          top: 3%;
          right: 16%;
          transform: translate(50%, -50%) rotate(-6deg) scale(0.7);
        }

        // Снизу слева — "Внезапное поздравление"
        .photo4 {
          bottom: 3%;
          left: 18%;
          transform: translate(-50%, 50%) rotate(-12deg) scale(0.7);
        }

        // Снизу справа — "Новый год"
        .photo5 {
          bottom: 3%;
          right: 15%;
          transform: translate(50%, 50%) rotate(6deg) scale(0.7);
        }
      }
      @include mobile {
        width: 100% !important;
        height: rem(150) !important;
        margin-top: rem(50) !important;

        [class^="photo"] {
          padding: rem(5) !important;
          width: rem(320) !important;
          height: auto !important;

          img {
            width: rem(200) !important;
            height: auto !important;
            max-width: 100% !important;
          }

          p {
            font-size: rem(22) !important;
            line-height: 1.2 !important;
          }
        }

        .photo1 {
          transform: rotate(-6deg) scale(0.5) !important;
          width: rem(180) !important;
        }

        .photo2 {
          top: 13% !important;
          left: 22% !important;
          transform: translate(-50%, -50%) rotate(2deg) scale(0.5) !important;
          width: rem(180) !important;
        }

        .photo3 {
          top: 13% !important;
          right: 24% !important;
          transform: translate(50%, -50%) rotate(-6deg) scale(0.5) !important;
          width: rem(180) !important;
        }

        .photo4 {
          bottom: 5% !important;
          left: 25% !important;
          transform: translate(-50%, 50%) rotate(-8deg) scale(0.5) !important;
          width: rem(180) !important;
        }

        .photo5 {
          bottom: 5% !important;
          right: 22% !important;
          transform: translate(50%, 50%) rotate(6deg) scale(0.5) !important;
          width: rem(180) !important;
        }
      }

    }
  }

  .birthday{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: rem(100);

    @include laptop{
      padding-top: rem(120);
    }

    @include mobile{
      padding-top: rem(20);
    }
  }
}