@font-face {
  font-family: 'ABeeZee';
  src: url("../fonts/ABeeZee-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url("../fonts/AbhayaLibre-ExtraBold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url("../fonts/AbhayaLibre-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurale';
  src: url("../fonts/Kurale-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
};