@use 'helpers' as *;

:root{
  --color-white: #FFFFFF;
  --color-dark: #000000;
  --color-pink: #D611C5;
  --color-orang: #FFAB58;
  --color-purple: #8B39E9;
  --color-blue: #8B39E9;
  --color-not-active-button: #1D202F;
  --color-background-main: #0D101C;
  --color-background-header-footer: #101322;
  --color-element: #151A32;
  --color-contact-button: #D4DF36;
  --color-linear-gradient-button: linear-gradient(to right, #6B1CDB, #962973);
  --color-accent-text: linear-gradient(to right, #D9FF00, #FF0004);
  --color-header-footer-shadow: #0E0E0E;


  --font-family-base: 'ABeeZee', 'sans-serif';
  --font-family-info: 'Comfortaa', 'sans-serif';
  --font-family-accant: 'AbhayaLibre', 'sans-serif';

  --container-width-main: #{rem(1680)};
  --container-padding-x-main: #{rem(50)};
  --container-width-mobile: #{rem(767.98)};
  --container-padding-x-mobile: #{rem(16)};
  --transition-duration: 0.2s;

  --border: #{rem(2)} solid var(--color-purple);

  @include laptop{
    --container-width: #{rem(1310)};
  }


}

